<section class="row about">

  <div class="col-lg-4 title">
    <h1>ABOUT ME</h1>
  </div>
  <div class="col-lg-7">

    <h3 style="text-align: justify, ">
      Graduated from <br /> Polytechnique Montreal (University of Montreal) in computer engineering,
    </h3>
    <h4>
      <br /> <br />
      <ul>
        <li>I'm passionate about algorithmics and artificial intelligence.</li>
        <li>I'm a competitive programmer. I spend lots of time on online judges. </li>
        <li>I'm constantly on the lookout for challenging algorithm and data structure problems.</li>
      </ul>
    </h4>
    <a href="https://s3.us-east-2.amazonaws.com/myporfoliocontentdata/cv-english.pdf" target="_blank"
      rel="noopener noreferrer">
      <button mat-raised-button class="btn btn-success">Download my CV</button>
    </a>
    <hr>
  </div>
</section>