<section class="row achievement">
        <div class="col-lg-2 title">  </div>
    <div class="col-lg-6">
          
        <h4>
            <ul>
                <li>Third place - HackDon - Sherbrooke Quebec, Canada.</li>
                <li>Second place - AWS Hackathon Hack your office - Las Vegas, Nevada. </li>
                <li>6th place - AWS Hackathon Smart city - Las Vegas, Nevada.</li>
                <li>Bronze Medal at Hackerrank - Week of code 35</li>
                <li>Hackerrank Spring Sprint Winner</li>
            </ul>
        </h4>
        <hr>
    </div>
    <div class="col-lg-2 title"> <h1>ACHIEVEMENT</h1> </div>
    
</section>