<section class="row achievement">
    <div class="col-sm-2 title"></div>
    <div class="col-sm-8">
            <h2> Achievements: </h2>
        <h3>
            <ul>
                <li>Third place - HackDon - Sherbrooke Quebec, Canada.</li>
                <li>Second place - Amazon Web Services Hackathon Hack your office - Las Vegas, Nevada. </li>
                <li>6th place - Amazon Web Services Hackathon Smart city - Las Vegas, Nevada.</li>
                <li>Bronze Medal at Hackerrank - Week of code 35</li>
                <li>Hackerrank Spring Srpint Winner</li>
            </ul>
        </h3>
    </div>
    <div class="col-sm-2"></div>
</section>