<section class="row achievement">

    <div class="col-lg-4 title">
        <h1>ACHIEVEMENT</h1>
    </div>
    <div class="col-lg-7">
        <h4>
            <ul>
                <li>Third place - HackDon - Sherbrooke Quebec, Canada.</li>
                <li>Second place - AWS Hackathon Hack your office - Las Vegas, Nevada. </li>
                <li>6th place - AWS Hackathon Smart city - Las Vegas, Nevada.</li>
                <li>Bronze Medal at Hackerrank - Week of code 35</li>
                <li>Hackerrank Spring Sprint Winner</li>
            </ul>
        </h4>
        <hr>
        <button mat-raised-button class="btn btn-success project-btn">Visit my projets</button>
    </div>


</section>